*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  outline: none; }

*::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #b8b8b8; }

*:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #b8b8b8; }

*:-moz-placeholder {
  font-family: "Poppins", sans-serif;
  color: #b8b8b8; }

*::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  color: #b8b8b8; }

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #383838; }

h3 {
  font-weight: 600; }

p, li {
  font-family: "Roboto", sans-serif;
  color: #383838; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

nav li {
  list-style-type: none;
  border-bottom: 1px solid #fff;
  background-color: #00C5BC;
  letter-spacing: 1px; }
nav a {
  color: #fff;
  width: 100%;
  display: block;
  padding: 20px 20px; }

input {
  background: none;
  border: 2px solid #00C5BC;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  padding-left: 10px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  input:focus {
    border: 2px solid #00C5BC;
    -webkit-box-shadow: 0 0 4px #00C5BC;
    box-shadow: 0 0 4px #00C5BC;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out; }

textarea {
  border: 2px solid #00C5BC;
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  textarea:focus {
    border: 2px solid #00C5BC;
    -webkit-box-shadow: 0 0 4px #00C5BC;
    box-shadow: 0 0 4px #00C5BC;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out; }

button {
  padding: 15px 40px !important; }

.btn-a, button, .btn-b {
  display: inline-block;
  padding: 15px;
  margin-right: 10px;
  border-radius: 7px;
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  background-color: #00C5BC;
  color: #fff;
  border: 0;
  cursor: pointer; }

.btn-b {
  background-color: #383838; }

.cf {
  *zoom: 1; }
  .cf:before, .cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .cf:after {
    clear: both; }

#logo {
  height: 40px;
  width: auto; }

#footer {
  text-align: center;
  background-color: #00C5BC;
  padding: 20px 0; }

#footer p {
  margin: 0;
  color: #fff; }

#home-sec {
  background-color: #00C5BC;
  padding-bottom: 40px; }

#home {
  padding: 100px 0; }

.about-sub-sec {
  margin-bottom: 60px; }

.container {
  display: flex;
  /* or inline-flex */
  flex-direction: column; }
  @media screen and (min-width: 960px) {
    .container {
      display: flex;
      flex-direction: row; } }

.item-1 {
  order: 1; }
  @media screen and (min-width: 960px) {
    .item-1 {
      order: 2; } }

.item-2 {
  order: 2; }
  @media screen and (min-width: 960px) {
    .item-2 {
      order: 1;
      width: 70%; } }

.item-3 {
  order: 1; }
  @media screen and (min-width: 960px) {
    .item-3 {
      order: 1; } }

.item-4 {
  order: 2; }
  @media screen and (min-width: 960px) {
    .item-4 {
      order: 2;
      width: 70%; } }

.f-cont {
  display: flex;
  /* or inline-flex */
  flex-direction: column; }
  @media screen and (min-width: 960px) {
    .f-cont {
      display: flex;
      flex-direction: row; } }

.f-1 {
  order: 1; }
  @media screen and (min-width: 960px) {
    .f-1 {
      order: 2; } }

.flex-grid,
.flex-grid-thirds,
.flex-grid-half {
  display: block; }
  .flex-grid .col,
  .flex-grid-thirds .col,
  .flex-grid-half .col {
    width: 100%;
    margin: 0 0 10px 0; }

.flex-grid-half {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  .flex-grid-half .col {
    width: 49%;
    text-align: center; }

.theme-width {
  padding: 20px; }
  @media screen and (min-width: 960px) {
    .theme-width {
      width: 70%;
      margin: 0 auto;
      padding: 50px 0; } }

.section-heading {
  background-color: #383838;
  color: #fff;
  display: block;
  padding: 15px 20px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 50px 0;
  font-size: 1.5rem;
  text-align: center; }
  @media screen and (min-width: 960px) {
    .section-heading {
      width: 40%;
      margin: 0 auto;
      margin-bottom: 50px; } }

#about {
  padding-bottom: 0; }

#features {
  padding-top: 0; }

#team-sec h3 {
  margin-bottom: 10px;
  color: #fff; }

#team-sec p {
  margin-top: 0;
  color: #fff; }

.team-sub-sec {
  margin: 30px 0; }

#team-sec-main {
  padding: 50px 0;
  background-color: #00C5BC;
  text-align: center; }
  @media screen and (min-width: 960px) {
    #team-sec-main div {
      width: 90%;
      margin: 0 auto; } }

.prod-img {
  max-width: 350px;
  display: block; }

.feat-img {
  width: 50px; }

.feat-sub-sec {
  margin: 30px 0;
  padding-top: 20px; }

.team-img {
  width: 150px;
  margin: 0 auto;
  border-radius: 100%;
  border: 3px solid #fff; }

.pricing-cont {
  border: 2px solid #00C5BC;
  padding: 20px;
  margin-bottom: 20px; }
  .pricing-cont li {
    padding: 10px 20px;
    border-bottom: 2px solid #00C5BC; }

.pricing-price {
  font-size: 2rem;
  margin-bottom: 10px; }

.pricing-active {
  border: 2px solid #383838; }
  .pricing-active li {
    border-bottom: 2px solid #383838; }

@media screen and (min-width: 960px) {
  .flex-grid {
    display: flex; }

  .flex-grid .col {
    flex: 1; }

  .flex-grid-thirds {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }

  .flex-grid-thirds .col {
    width: 32%;
    text-align: center; }

  #home .item-1 .prod-img {
    max-width: 450px; } }

/*# sourceMappingURL=main.css.map */
